    <section class="five-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="head-search-item">
                <div class="row">
                        <div class="col-md-9">
                            <div class="nav-breadcrumb">
                              <nav> 
                                <ol class="breadcrumb">
                                  <li><a href="#"> الرئيسية </a></li>
                                  <li><a href="#"> الاخبار</a></li>
                                  <li><a href="#"> أهم الاخبار</a></li>
                                  <li><a href="#"> الخبر</a></li>
                                </ol>
                              </nav>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="search-input">
                                <input type="text" placeholder="ابحث هنا" />
                            </div>
                        </div>
                    </div> 
                    
                </div>
                </div>
                <div class="col-md-9">
                    <div class="news-header-news">
                        <h2><strong>بالصور :</strong> الفعاليات المدرسية .. تشكيلٌ لوعي الطلبة نحو التمسك بالثوابت</h2>
                        <p>الجمعة 22 ابريل 2016 09:08 ص <span>بتوقيت القدس المحتلة</span></p>
                    </div>
                    <div class="news-contant">
                        <div class="main-news-image">
                            <img src="images/1.jpg">
                        </div>
                        <div class="row">
                            <app-right-side></app-right-side>
                            <div class="col-md-8">
                                <div class="contant-us-news-page">
                                    <a href="#" class="face-share">مشاركة عبر الفيسبوك <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" class="twitter-share">مشاركة عبر تويتر <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" class="instagram-share">مشاركة عبر انستقرام <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#" class="whatsapp-share">مشاركة عبر الواتس اب <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                </div>
                                <div class="all-news-contant">
                                    <div class="item-ealan">
                                        <img src="images/ea4.jpg">
                                    </div>
                                    <p>{{ss?.l}}</p>
                                </div>
                                <div class="item-more-news">
                                    <div class="news-header-page">
                                        <h2>مواضيع ذات صلة</h2>
                                    </div>
                                    <div class="more-item-contant">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="secand-news-live">
                                                <div class="secand-news-img-live">
                                                   <a href="#"><img src="images/2.jpg"></a>
                                                </div>
                                                <div class="secand-news-img-text">
                                                   <a href="#"><p>التكنولوجيا تجذب الجميع ... حتي القرود ... ما تعليقكم</p></a>
                                                </div>
                                                <div class="inline-news">
                                                   <a href="#">محلية</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-4">
                                            <div class="secand-news-live2">
                                                <div class="secand-news-img-live">
                                                   <a href="#"><img src="images/3.jpg"></a>
                                                </div>
                                                <div class="secand-news-img-text">
                                                   <a href="#"><p>التكنولوجيا تجذب الجميع ... حتي القرود ... ما تعليقكم</p></a>
                                                </div>
                                                <div class="internaoinal-news">
                                                   <a href="#">عالمية</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-4">
                                            <div class="secand-news-live3">
                                                <div class="secand-news-img-live">
                                                   <a href="#"><img src="images/4.jpg"></a>
                                                </div>
                                                <div class="secand-news-img-text">
                                                   <a href="#"><p>التكنولوجيا تجذب الجميع ... حتي القرود ... ما تعليقكم</p></a>
                                                </div>
                                                <div class="sport-news">
                                                   <a href="#">رياضة</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="comment-user-single">
                                    <div class="news-header-page">
                                        <h2>التعليقات</h2>
                                    </div>
                                    <div class="comment-user-item">
                                        <div class="media">
                                          <div class="media-left media-middle">
                                            <a href="#">
                                              <img class="media-object" src="images/ahmad.jpg">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                            <h4 class="media-heading">أحمد سليم <span class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i>١٣ ابريل ٢٠١٦</span></h4>
                                            <p>شكراً جزيلا على هذا الموضوع الشيق والرائع، بصراحة لقد أبدعتم في البحث والكتابة وسرد النقاط الهامة.</p>
                                            <div class="answer-btn-d">
                                                <a href="#" class="pull-left answer-btn">رد</a>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="media">
                                          <div class="media-left media-middle">
                                            <a href="#">
                                              <img class="media-object" src="images/ahmad.jpg">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                            <h4 class="media-heading">أحمد سليم <span class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i>١٣ ابريل ٢٠١٦</span></h4>
                                            <p>شكراً جزيلا على هذا الموضوع الشيق والرائع، بصراحة لقد أبدعتم في البحث والكتابة وسرد النقاط الهامة.</p>
                                            <div class="answer-btn-d">
                                                <a href="#" class="pull-left answer-btn">رد</a>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="media">
                                          <div class="media-left media-middle">
                                            <a href="#">
                                              <img class="media-object" src="images/ahmad.jpg">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                            <h4 class="media-heading">أحمد سليم <span class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i>١٣ ابريل ٢٠١٦</span></h4>
                                            <p>شكراً جزيلا على هذا الموضوع الشيق والرائع، بصراحة لقد أبدعتم في البحث والكتابة وسرد النقاط الهامة.</p>
                                            <div class="answer-btn-d">
                                                <a href="#" class="pull-left answer-btn">رد</a>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="media reply-medi">
                                          <div class="media-left media-middle">
                                            <a href="#">
                                              <img class="media-object" src="images/ahmad.jpg">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                            <h4 class="media-heading">أحمد سليم <span class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i>١٣ ابريل ٢٠١٦</span></h4>
                                            <p>شكراً جزيلا على هذا الموضوع الشيق والرائع، بصراحة لقد أبدعتم في البحث والكتابة وسرد النقاط الهامة.</p>
                                            <a href="#" class="pull-left answer-btn">رد</a>
                                          </div>
                                        </div>
                                        <div class="media">
                                          <a class="media-left media-middle" href="#">
                                          <img class="media-object" src="images/ahmad.jpg">
                                          </a>
                                          <div class="media-body">
                                            <h4 class="media-heading">أحمد سليم <span class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i>١٣ ابريل ٢٠١٦</span></h4>
                                            <p>شكراً جزيلا على هذا الموضوع الشيق والرائع، بصراحة لقد أبدعتم في البحث والكتابة وسرد النقاط الهامة.</p>
                                            <div class="answer-btn-d">
                                                <a href="#" class="pull-left answer-btn">رد</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-more-news2">
                                    <div class="news-header-page">
                                        <h2>اضف تعقيب</h2>
                                    </div>
                                    <div class="more-item-contant">
                                        <div class="contant-massage">
                                            <input type="text" placeholder="الاسم" />
                                            <input type="text" placeholder="البلد" />
                                            <textarea rows="4" placeholder="التعقيب" ></textarea>
                                            <a href="#">ارسل التعقيب</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="left-news-cont">
                        <div class="first-news-live">
                            <div class="news-img-live">
                               <a href="#"><img src="images/5.jpg"></a>
                            </div>
                            <div class="news-img-text">
                               <a href="#"><h2>ابرز مسلسلات شهر رمضان</h2></a>
                               <a href="#"><p>التكنولوجيا تجذب الجميع ... حتي القرود ... ما تعليقكم</p></a>
                            </div>
                        </div> 
                        <div class="first-news-live">
                            <div class="news-img-live">
                               <a href="#"><img src="images/2.jpg"></a>
                            </div>
                            <div class="news-img-text">
                               <a href="#"><h2>ابرز مسلسلات شهر رمضان</h2></a>
                               <a href="#"><p>التكنولوجيا تجذب الجميع ... حتي القرود ... ما تعليقكم</p></a>
                            </div>
                        </div> 
                    </div>
                    <div class="item-more-item-more">
                        <div class="list-item">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#new-news-s">أخر الاخبار</a></li>
                                <li><a data-toggle="tab" href="#menu1">الاكثر مشاهده</a></li>
                                <li><a data-toggle="tab" href="#menu2">الامس</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first-item-news-tap">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4>
                                                    <p>09:15</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="first-item-therd-sec-ads">
                        <a href="#"><img src="images/ea2.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>