<section *ngIf="news.length>0" class="five-sec">
    <div class="container">
        <div class="row">
            <app-right-side></app-right-side>
            <div class="col-md-8">
                <div class="news-header-page">
                    <h2>اخبار {{news[0]?.category}}</h2>
                </div>
                
                <div class="local-news">
                    <div class="all-local-news">
                        <div class="col-md-6">
                            <div class="left-local-news">
                                <a href="#">
                                    <div class="first-news-local">
                                        <div class="img-first-news-local">
                                            <img src="images/1.jpg">
                                        </div>
                                        <div class="text-first-news-local">
                                            <h2>الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h2>
                                        </div>
                                    </div>
                                </a>
                                <div class="sec-news-local">
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img class="media-object" src="images/2.jpg">
                                        </a>
                                        <div class="media-body">
                                            <a href="#"><h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sec-news-local">
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img class="media-object" src="images/3.jpg">
                                        </a>
                                        <div class="media-body">
                                            <a href="#"><h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-local-newss">
                                <a href="#">
                                    <div class="first-news-local">
                                        <div class="img-first-news-local">
                                            <img src="images/4.jpg">
                                        </div>
                                        <div class="text-first-news-local">
                                            <h2>الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h2>
                                        </div>
                                    </div>
                                </a>
                                <div class="sec-news-local">
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img class="media-object" src="images/5.jpg">
                                        </a>
                                        <div class="media-body">
                                            <a href="#"><h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sec-news-local">
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img class="media-object" src="images/6.jpg">
                                        </a>
                                        <div class="media-body">
                                            <a href="#"><h4 class="media-heading">الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more-news-3">
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/5.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/1.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/2.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/6.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/4.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/5.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/6.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/7.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/8.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/9.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="first-news-item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-object" src="images/10.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading">ادعيس و كتانة يبثحان سبل التوافق بينهمها من ناحية تصميم موقع الاخبار التجريبي و اخبار عن اتمام الاتفاق</h4></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

