<section class="header-section">
    <div class="header">
        <!--<div class="menu-side">
            <div class="btn-menu-close"><i class="fa fa-times"></i></div>
            <ul class="menu-sidebar">
                <li class="active-li"><a [routerLink]="['/']">الرئيسية</a></li>
                <li><a [routerLink]="">اخبار محلية</a></li>
                <li><a [routerLink]="">اخبار عالمية</a></li>
                <li><a [routerLink]="">اخبار الرينة</a></li>
                <li><a [routerLink]="">القدس و الاقصي</a></li>
                <li><a [routerLink]="">اسرائيلية وفلسطين</a></li>
                <li><a [routerLink]="">مدارس وجامعات</a></li>
            </ul>
        </div>  -->
        <div class="back-menu"></div>   
        <div id="main-menu">
            <div class="btn-menu">
                <i class="fa fa-bars"></i>
            </div> 
            <div class="header-1">
              <div class="container">
                <div class="row controlss">
                    <div class="col-md-3 col-sm-12 col-xs-6 pull-right logo-img">
                        <img src="../../../assets/images/logo.png" class="wow" alt="">
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-6 pull-left navigation">
                        <nav class="navbar navbar-default">
                              <ul class="head-menu1 nav navbar-nav avbar-right">
                                <li><a [routerLink]="['']">الرئيسية</a></li> 
                                <li><a [routerLink]="['/news/category', 1]">اخبار محلية</a></li> 
                                <li><a [routerLink]="['/news/category', 2]">اخبار عالمية</a></li> 
                                <li><a [routerLink]="['/news/category', 3]">اخبار الرينة</a></li> 
                                <li><a [routerLink]="['/news/category', 4]">القدس و الاقصي</a></li> 
                                <li><a [routerLink]="['/news/category', 5]">اسرائيلية و فلسطينية</a></li> 
                                <li><a [routerLink]="['/news/category', 6]">مدارس و جامعات</a></li> 
                              </ul>
                        </nav>
                        <nav class="navbar navbar-default">
                              <ul class="head-menus2 nav navbar-nav avbar-right">
                                <li><a [routerLink]="['/news/category', 7]" class="sport-btn">رياضة</a></li>
                                <li><a [routerLink]="['/news/category', 8]" class="sport-btn1">منوعات</a></li>
                                <li><a [routerLink]="['/news/category', 9]" class="sport-btn2">صحة</a></li>
                                <li class="dropdown">
                                    <a (mouseover)="showDropdown()" class="dropdown-toggle sport-btn3" [routerLink]="['/news/category', 10]">مطبخ</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a [routerLink]="">
                                            <img src="images/2.jpg">
                                                <h2>الاردن تنفي ما نسب للملك حول التحالف الاسلامي الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h2>
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="">
                                            <img src="images/2.jpg">
                                                <h2>الاردن تنفي ما نسب للملك حول التحالف الاسلامي الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h2>
                                            </a>
                                        
                                        </li>
                                        <li class="more-btn-m"><a [routerLink]="">المزيد</a></li>
                                    </ul>
                                  </li>
                                <li class="dropdown">
                                    <a [routerLink]="['/news/category', 11]" data-toggle="dropdown" class="dropdown-toggle sport-btn4">مقالات</a>
                                        <ul class="dropdown-menu" id="menu1">
                                        <li>
                                            <a [routerLink]="">
                                            <img src="images/2.jpg">
                                            <h2>الاردن تنفي ما نسب للملك حول التحالف الاسلامي الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h2>
                                            </a>
                                        </li>
                                        <li><a [routerLink]="">
                                            <img src="images/2.jpg">
                                            <h2>الاردن تنفي ما نسب للملك حول التحالف الاسلامي الاردن تنفي ما نسب للملك حول التحالف الاسلامي</h2>
                                            </a></li>
                                        <li class="more-btn-m"><a [routerLink]="">المزيد</a></li>
                                    </ul>
                                  </li>
                                <li><a [routerLink]="['/news/category', 12]" class="sport-btn5">سيارات</a></li>
                                <li><a [routerLink]="['/news/category', 13]" class="sport-btn6">علوم و تكنولوجيا</a></li>
                                <li><a [routerLink]="['/news/category', 14]" class="sport-btn7">سياحة</a></li>
                                <li><a [routerLink]="['/news/category', 15]" class="sport-btn8">مجتمع</a></li>
                                <li><a [routerLink]="['/news/category', 16]" class="sport-btn9">القران الكريم</a></li>
                              </ul>
                        </nav>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>