<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-item-all">
                    <div class="col-md-8">
                        <div class="img-footer-item">
                            <img src="./../../../assets/images/logo2.png">
                        </div>
                        <div class="ul-item-footesr">
                            <ul>
                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="ul-item-footer">
                            <ul>
                                <li><a href="#">الرئيسية</a></li>
                                <li><a href="#">اخبار محلية</a></li>
                                <li><a href="#">اخبار عالمية</a></li>
                                <li><a href="#">اخبار الرينة</a></li>
                                <li><a href="#">القدس و الاقصي</a></li>
                                <li><a href="#">اسرائيلية وفلسطينة</a></li>
                                <li><a href="#">مدارس وجامعتا</a></li>
                                <li><a href="#">رياضة</a></li>
                                <li><a href="#">منوعات</a></li>
                                <li><a href="#">صحة</a></li>
                                <li><a href="#">مطبخ</a></li>
                                <li><a href="#">مقالات سيارات</a></li>
                                <li><a href="#">علوم وتكنولوجيا</a></li>
                                <li><a href="#">سياحة</a></li>
                                <li><a href="#">مجتمع</a></li>
                                <li><a href="#">القرآن الكريم</a></li>
                            </ul>
                        </div>
                        <div class="contant-footer">
                            <h2>جميع الحقوق محفوظة © 2016 موقع شاشة</h2>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs"> 
                        <div class="footer-Social">
                            <a href="#"><img src="./../../../assets/images/phone.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>